<!DOCTYPE html>
<html>
<head>
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />

	<!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">

    <div id='map'></div>
    <div class='map-overlay' id='features'><h2>WorldPop Population Density</h2><div id='pd'>
    <p>Hover over a state!</p></div></div>
  <div class='map-overlay' id='legend'><p>Average People per ~1km resolution</p></div>
</head>

<body>
	<script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
</body>
</html>